.home_projects {
	h2 {
		font-size: 34px;
		font-weight: 400;
		margin-bottom: 30px;
		@media (max-width: 40rem) {
			margin-bottom: 0;
			padding: 0 20px;
		}
	}
	.grid {
		max-width: 900px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		@media (max-width: 40rem) {
			grid-template-columns: 1fr;
			padding: 0 20px;
		}
		gap: 20px;

		.image {
			img {
				max-width: 100%;
				border-radius: 8px;
			}
		}
	}
	div {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
		button {
			background-color: var(--primary);
			padding: 10px 60px;
			border-radius: 6px;
			font-size: 16px;
			border: 0;
		}
	}
}
