.container {
	max-width: 1140px;
	width: 100%;
	margin: 50px auto;
	font-family: Poppins;
	> span {
		color: #7c7c7c;
	}
	@media (max-width: 40rem) {
		padding: 0 20px;
	}
	h1 {
		margin-bottom: 40px;
		font-size: 48px;
		font-family: Poppins !important;
		font-weight: 600;
		@media (max-width: 40rem) {
			font-size: 2rem;
		}
	}
	h2 {
		font-size: 34px;
		font-family: Poppins !important;
		margin-top: 40px;
		font-weight: 500;
		@media (max-width: 40rem) {
			font-size: 1.5rem;
		}
	}
	p {
		margin: 20px 0;
		line-height: 28px;
		font-family: Poppins !important;
		font-weight: 300;
		@media (max-width: 40rem) {
			font-size: 16px;
		}
	}
	.banner {
		width: 100%;
		img {
			border-radius: 8px;
			width: 100%;
		}
	}
}
